body {
	font-family: 'roboto', Arial, Helvetica, sans-serif;
	font-weight: 300;
}

p {
	margin: 0 0 15px;
}

a {
	color: #435993;

	&:hover {
		opacity: .75;
	}
}

.wrapper {
	overflow: hidden;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 798px;
}

.bg-image {
	min-height: 150px;
	background-image: url(../images/ian-froome-375650.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0 -66px 66px 0 rgba(255,255,255,1);
}