.section {
	padding: 32px 0 28px;

	&-info {
		padding: 15px 0 28px;
	}

	&-skills {
		padding: 15px 0 84px;
	}

	&-javascript {
		padding: 32px 0 71px;		
	}

	&-about-me {
		padding: 32px 0 28px;
	}
}

@media (max-width: 767px) {
	.section {
		padding: 15px 0 10px;
	}
}